* {
  box-sizing: border-box;
}


body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}
  
header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}


#logo {
    width: max(100px, 18vw);
    padding: 0.4rem;
  }

  
header>h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }



  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }

/*  Body */

body {
  margin-top: 50px
}

.start-h1 {
  padding-top: 70px;
  text-align: center;
  vertical-align:middle;
  font-size: 1.8rem;
}

.start-p {
  text-align: center;
  vertical-align: middle;
}

.sky-image {
  background-image: url(images/photo-1595865749889-b37a43c4eba4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh
}

iframe {
  margin: 5px 25vw;
  width: 50vw
}



#contact {
  text-align: center;
  border: solid;
  width: 55vw;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #f1be32;
  padding: 20px
}

#founder>h2 {
  text-align: center;
  margin-top: 40px
}


#founder>p {
  margin: 20px 30px;
  text-align: justify;
  line-height: 1.5;
}