:root {
  --navbar-color: #1b1b32
}


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
    overflow-x: hidden;
}
  
header {
    width: 100%;
    height: 50px;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}


#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
  }

  
header>h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }



  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }



/* Body */


#cafe-img {
  background-image: url(images/Ekran_görüntüsü.png);
  background-size: 100% 70vh;
  height: 70vh;
  width: 100%;
  padding-top: 30vh
}

#cafe-img>h1 {
  color: white;
  text-align: center;
  font-size: 55px;
}

#cafe-img>p {
  text-align: center;
  font-size: 1.2rem;
  background-color: #3880ff;
  width: 800px ;
  height: 1.3rem;
  margin: 20px auto 0;
  border-radius: 10px;

}

#cafe-img>p>span {
  text-decoration:green wavy underline;
}


.how-q {
  font-family: 'Permanent Marker', cursive;

}

.how-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 10px auto;
  padding: 20px 10px;
  max-height:max-content;
}

.how-1, .how-2  {
  margin-left: 5%
}

h2 {
  margin-left: 3%
}

article {
  width: 32%
}


svg {
  width: 10vw;
  margin-left: 22%;
}

.star {
  margin-left: 11%
}






.core-values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  border-radius: 20px;
  flex-wrap: wrap;  
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: auto;
  padding: 80px 30px;
  margin-top: 0 !important
}



.core-values-section {
  background-color: #452797;
  margin-top: 40px;
  padding-top: 40px;
}





.core-values>article {
  border-radius: 20px;
  border: solid;
  text-align: center;
  min-width:  200px;
  min-height: 150px;
  padding: 20px;
  margin: 20px 20px;
}

.topnav {
  display: none;
}




@media (max-width: 800px) {


  

.core-values {
  display: block;
  margin: 40px 4%;
  width:auto;
  max-height: auto;
}

.core-values>article  {
  width: 100%;  
  margin-bottom: 15px
}



.how-1 {
  display: block;
  margin:  20px 4vw;
  padding:  20px 4vw;
}

svg {
  min-width: 100px ;
}

.how-1 article {
  width: 60%;
  margin-left: 20%;
  height: fit-content
}

.star {
  margin-left: 22%
}

.large-nav {
  display: none
}

.topnav {
  display: block;
  height: 50px
}

/* Style the navigation menu */
.topnav {
  overflow: visible;
  background-color: var(--navbar-color);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  margin-top: 50px;
}



/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: black;
}

.topnav a{
  background-color: black;
}



/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */



}


main {
  background-color: #533c4a;
  color: white
}

.core-values>article>h3 {
  text-align: center;
  padding-bottom: 20px;
}

/* Section used for centering process */
#accordion-container {
  width: 100vw;
  height: 100vh;
  background-color:wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto; 
  padding:  0 1.5rem; 
}


.accordion-item {
  background-color: #283042;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}


.accordion-item-header {  
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
  

.accordion-item-header i{
  color: #e7d5ff;
  padding: .5rem;
}


.accordion-item-header .ion-md-remove{
  display: none;
}


.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
}

.accordion-item-body::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%); 
}

.accordion-item-body p{
  color: rgba(255, 255, 255, .6);
  font-size: 14px;
  padding: 2rem;
}

.accordion-item:target .accordion-item-body {
  max-height: 20rem;
}

.accordion-item:target .accordion-item-header [name="add-outline"] {
  display: none;
}

.accordion-item:target .accordion-item-header [name="remove-outline"] {
  display: block;
}

.accordion-item .accordion-item-header [name="remove-outline"] {
  display: none;
}


