
body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
    overflow: hidden;
}
  

/* Header Part */

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}


#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    padding: 0.4rem;
  }

  
  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }



  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }



  /* Main Part */


fieldset {
    background-color: none;
    border: transparent;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    margin:0 auto;
    text-align: center;
    padding: 0 auto;
    display: block;
    width: 300px;
}

input[type="submit"]{
    margin: auto  ;
    border-radius: 20px;
    width:60% ;
    height: 35px;
    display: block;
    margin-top: 4vh
  }
  
  
  input[class="large"] {
      border-radius: 7px;
      width: 320px;
      height: 35px;
      font-size: 16px;
      margin-left: 0;
  }


.background-images{
    background-image: linear-gradient(0deg, rgba(0, 0, 255, 0.338), rgba(0, 0, 255, 0.338)) ,url(../images/butler.jpg), url(../images/teacher.jpg), url(../images/bahcivan.jpg), url(../images/dogs_looking.jpeg) ;
    background-position: 0vw 0vh,0vw 0vh, 25vw 0vh, 0vw 50vh,  25vw 50vh;
    background-repeat:no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    height: 100vh;
    width: 50vw;
    background-size: 50vw 100vh ,25vw 50vh, 25vw 50vh ,25vw 50vh ,25vw 50vh;
    position: absolute;
    left: 50vw;
    z-index: -1;
}



.background-color {
    background-color: #00103C;
    border-radius: 0;
    height: 100vh;
    width: 50vw
}

label, p {
    color: white
}


.middle{
    box-sizing: border-box ;
}

main{
    margin-top: 50px;
}


/*  */



form>h1, form>p {
    text-align: center;
}



.form-h1 {
    font-size: 32px;
}



.form-p {
    font-size: 16px
}

label {
    padding: 0 30px;
    font-size: 14.4px;
}

div.main-form {
    padding: 10% 20px
}

div>h1, div>p {
    text-align: center;

}

.topnav {
    display: none;
  }
  

@media (max-width: 800px) {
    .background-images {
        display: none
    }

    .background-color {
        width: 100vw;
        height: 100vh
    }

    .large-nav {
        display: none
      }
      
      .topnav {
        display: block;
        height: 50px;

      }
      
      /* Style the navigation menu */
      .topnav {
        overflow: visible;
        background-color: var(--navbar-color);
        position: relative;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
        margin-top: 50px;
      }
      
      
      
      /* Style navigation menu links */
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: black;
      }
      
      .topnav a{
        background-color: black;
      }
      
      
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
    
}


@media (max-width: 440px){
    input[class="large"] {
        width: 240px;
        min-width: 200px;
    }
}